@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* { 
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}
h2 {
    color: white;
    text-align: center;
}
body{
    background: #0b0c10;
}
.wrapper{
    margin-top: 25px;
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 90px auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    padding: 30px;
}
.wrapper .title, .container .title{
    font-size: 24px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #66fcf1;
    text-transform: uppercase;
    text-align: center;
}
.wrapper .form{
    margin-top: 25px;
  width: 100%;
}      

#showcaseiframe{
    z-index: 9999;
    position: absolute;
    top: 400px;
    right: 100px;
    width: 384px;
    height: 216px;
}
@media (max-width:700px){
    #showcaseiframe{
        display: none;
    }
}
@media (max-width:420px) {
  .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label{
    margin-bottom: 5px;
  }
  .wrapper .form .inputfield.terms{
    flex-direction: row;
  }
}

.table>:not(caption)>*>* {
  background-color: #f1f1f1 !important;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  width: 100%;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}