.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
element.style{
  width: 80px;
  height: 60px;
  margin: auto;
}
nav{
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.background-tint {
  background-color: rgba(0,0,0,.5);
  background-blend-mode: multiply;
}

.only-for-me img{
  width: 200px;
}
#navbar {
  
  background-color: #1F2836;
  padding: 10px 30px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}


#navbar a.active {
  
  color: white;
}

#navbar-right {
  float: right;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}

.row-footer {
  background-color: #AfAfAf;
  margin: 200px auto;
  padding: 20px 0px 20px 0px;
}

div.navbar-nav {
  padding: 40px 10px;
  float: none;
  text-align: center;
}

h1 {
  color: #66FCF1;
}



.fishes{
  position: absolute;
      top: -550px;
      left: 4px;
      --animate-duration: 0.75s;

}
.fish{
  position: relative;
  top: 0;
  left: 0;
}

.card-title{
  font-family: 'Marsden Compressed';
  src: local('Marsden Compressed Condensed Heavy'), local('Marsden-Compressed-Condensed-Heavy'),
      url('Marsden-Cn-Heavy/Marsden-Cn-Heavy.ttf') format('woff2'),
      url('Marsden-Cn-Heavy/Marsden-Cn-Heavy.woff') format('woff'),
      url('Marsden-Cn-Heavy/Marsden-Cn-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  color: black;
  font-size: 40px;
  text-align: center;
}
body { 
  padding-top: 71px;
	max-width: 2300px; 
	margin: 0 auto !important; 
	float: none !important; 
}
p {
  color: #C5C6C7;
}

.navbar-nav {
  text-align: right;
}

body {
  background-color: #0b0c10 !important;
}

h2 {
  color: #C5C6C7 !important;

}



.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.container1 img {
  width: 10vw;
  height:auto;
}

.container1 {
  text-align: center;
}

.container1 p {
  margin-left: 100px;
  margin-right: 100px;
  max-width: 1100px;
}


.fish4{
  position: relative;
  filter: brightness(50%);
  
}
.fish5{
  margin-left: 800px;
  margin-top: -630px;
  position: absolute;
  animation-duration: 1000ms;
}
.fish6{
  max-width: 1000px;
  position: absolute;
  margin-left: 130px;
  margin-top: -500px;
  animation-duration: 500ms;
}
.navbar a:hover{
    color: #45a29e !important;
    text-decoration: underline;
    text-decoration-color: #45a29e;
    text-decoration-thickness: 3px;
}
.dropdown-menu{
    background-color: #1F2836 !important;
    border-color: #45a29e !important;
}
.dropdown-toggle{
    color: rgb(200,200,200) !important;
}
.navbar a{
  color: rgb(200,200,200);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.box {
  border: 3px solid rgba(255, 255, 255, 0.808);
  height: 400px;
  max-width: 1140px;

  margin-left: 350px !important;
  margin-top: -500px !important;
  margin-right: 350px !important;
  
}
.notes1{
  margin-top: -300px;
  margin-left: 50px;
}



.changecolor li a{
  color: rgb(231, 197, 110);
  filter: brightness(60%);
}
.changecolor li a:hover{
  color: rgb(243, 243, 24);
  filter: brightness(100%);
}



